#bookForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

body {
    background-color: pink;
    
}

#BookDisplay {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#BookList {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.book-card {
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
